<% layout('/layout/page') -%>
<% block('title', "Добро пожаловать в чат") -%>


<ul id="messages"></ul>
<form id="form" action="">
  <input id="m" disabled autocomplete="off"  autofocus="true" placeholder="Введите ваше сообщение..." /><button>Отправить</button>
</form>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>
<script>
  var input = $('#form #m');
  var form = $('#form');
  var ul = $('#messages');
  var socket = io.connect('', {
    reconnect: false
  });
  socket
      .on('connect', function() {
        printStatus("соединение установлено");
        form.on('submit', sendMessage);
        input.prop('disabled', false);
      })
      .on('message', function(username, message) {
        printMessage(username + "> " + message);
      })
      .on('leave', function(username) {
        printStatus(username + " вышел из чата");
      })
      .on('join', function(username) {
        printStatus(username + " вошёл в чат");
      })
      .on('disconnect', function() {
        printStatus("соединение потеряно");
        form.off('submit', sendMessage);
        input.prop('disabled', true);
        this.emit('error');
      })
      .on('logout', function() {
        location.href = "/";
      })
      .on('error', function(reason) {
        if (reason == "handshake unauthorized") {
          printStatus("вы вышли из сайта");
        } else {
          setTimeout(function() {
            socket.socket.connect();
          }, 500);
        }
      });
  function sendMessage() {
    var text = input.val();
      if (text) {
        socket.emit('message', text, function() {
          printMessage("я> " + text);
        });
      };
    input.val('');
    return false;
  }

  function printStatus(status) {
    $('<li>').append($('<i>').text(status)).appendTo(ul);
  }

  function printMessage(text) {
    $('<li>').text(text).appendTo(ul);
  }
</script>
