footer.mdl-mega-footer
  .mdl-mega-footer--bottom-section
    .mdl-logo
      | Alexander Belikov
    ul.mdl-mega-footer--link-list
      li
        a(href='http://alk55.ru/') My PHP tests
      li
        a(href='http://109.234.39.240:3000/') My git
      li
        a(href='http://109.234.39.240/owncloud/') My cloud
script(src='/vendor/bower_components/bootstrap/dist/js/bootstrap.js')