a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') help_outline
    span.visuallyhidden Help
script(src='/vendor/bower_components/bootstrap/dist/js/bootstrap.js')